<template>
    <li class="food-item">
        <div class="header">
            <img :src="'/images/' + imageName" :alt="imageAlt" />
        </div>
        <div class="title">
            {{ title }}
        </div>
    </li>
</template>

<script>
export default {
    props: {
        imageName: {
            type: String,
            require: true
        },
        imageAlt: {
            type: String,
            require: true
        },
        title: {
            type: String,
            require: true
        }
    }
}
</script>

<style>
.food-item {
  cursor: pointer;

}
.food-item .header img {
    width: 200px;
    height: 150px;
    padding: 5px;
}
.food-item .title {
    font-size: 12px;
    font-weight: 600;
    padding: 5px;
}
</style>
