<template>
    <div>
        <div id="sq_header">오늘 뭐먹지??</div>
        <Nuxt />
        <div id="copyright">
            <p>
                경기도 안산시 단원구 xx동 1111호<br />
                010-0000-0000 / privsqcloud@gmail.com<br />
                Copyright(c) privsq
            </p>
        </div>
    </div>
</template>
<style>
#sq_header {
    padding: 25px 15px;
    font-weight: 800;
    font-size: 20px;
    border-bottom: solid 1px #333333;
}
#copyright {
    padding: 15px;
    background-color: #333333;
    color: #ffffff;
    font-size: 11px;
    line-height: 160%;
}
</style>
