<template>
  <div class="clear-both">
    <div class="content-left">
      <ul class="food-item-group clear-both">
        <FoodItem
          v-for="(item, index) in foodList"
          v-bind:key="'foodItem' + index"
          v-bind:imageName="item.foodImg"
          v-bind:imageAlt="item.foodImgAlt"
          v-bind:title="item.foodName"
          @click.native="choiceFood(index)"
        />
      </ul>
   </div>
    <div class="content-bottom ">
      <div v-if="selectedIndex != null" >
        <div>음식명 : {{ foodList[selectedIndex].foodName }}</div>
        <div>칼로리 : {{ foodList[selectedIndex].calorie }}칼로리</div>
        <div>설명 : {{ foodList[selectedIndex].description }}</div>
        <div>효능 : {{ foodList[selectedIndex].efficacy }}</div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'IndexPage',
  data() {
    return {
      selectedIndex: null,
      foodList: [
        {foodName: '사과1', foodImg: 'apple.jpg', foodImgAlt: '사과', calorie: 100, description: '과일', efficacy: '피부좋아져요'},
        {foodName: '사과2', foodImg: 'apple.jpg', foodImgAlt: '사과', calorie: 100, description: '과일', efficacy: '피부좋아져요'},
        {foodName: '사과3', foodImg: 'apple.jpg', foodImgAlt: '사과', calorie: 100, description: '과일', efficacy: '피부좋아져요'},
        {foodName: '사과4', foodImg: 'apple.jpg', foodImgAlt: '사과', calorie: 100, description: '과일', efficacy: '피부좋아져요'},
        {foodName: '사과5', foodImg: 'apple.jpg', foodImgAlt: '사과', calorie: 100, description: '과일', efficacy: '피부좋아져요'},
        {foodName: '사과6', foodImg: 'apple.jpg', foodImgAlt: '사과', calorie: 100, description: '과일', efficacy: '피부좋아져요'},
        {foodName: '사과7', foodImg: 'apple.jpg', foodImgAlt: '사과', calorie: 100, description: '과일', efficacy: '피부좋아져요'},
        {foodName: '사과8', foodImg: 'apple.jpg', foodImgAlt: '사과', calorie: 100, description: '과일', efficacy: '피부좋아져요'},
      ]
    }
  },
  methods: {
    choiceFood(index) {
      this.selectedIndex = index
    }
  }
}
</script>

<style>
div.content-left {
  float: left;
}

div.content-bottom {
  float: bottom;
  padding: 25px;
  margin: 25px;
  border: solid 1px #333333;
}

ul.food-item-group{
  list-style: none;
}
.clear-both:after {
  content: '';
  display: block;
  clear: both;
}

ul.food-item-group li {
  float: left;
}

</style>
